<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YeahPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A63B58C52D2F010C00C3ABB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63B58D82D2F010D00C3ABB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63B58E22D2F010D00C3ABB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
